@font-face {
  font-family: "Inter";
  src: url("../assets/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Material Icons";
  src: url("../assets/MaterialSymbolsOutlined.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --text: #04080d;
  --text-contrast: #ffffff;
  --background: #e7ecf1;
  --primary: #022759;
  --secondary: #8fc0ff;
  --accent: #ff5c82;
  --border: #c0c0c0;
  --card: #f2f2f6;
  --active: #ebebf4;
  --hover: 2, 39, 89;

  /* Border-radius */
  --small: 8px;
  --standard: 16px;
  --large: 24px;

  /* NER colors */
  --ner-persName: #b4ffd2;
  --ner-placeName: #fff2a9;
  --ner-orgName: #cca9ff;
  --ner-date: #a9fffd;
  --ner-time: #a9e2ff;
}

/* Global styles */

body {
  font-family: "Inter";
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 700;
}

html {
  font-size: 100%; /* 16px */
}

h1 {
  font-size: 2.489rem; /* 39.84px */
}

h2 {
  font-size: 2.074rem; /* 33.12px */
}

h3 {
  font-size: 1.728rem; /* 27.68px */
}

h4 {
  font-size: 1.44rem; /* 23.04px */
}

h5 {
  font-size: 1.2rem; /* 19.2px */
}

small {
  font-size: 0.833rem; /* 13.28px */
}

/* Component styles */

* {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: var(--large);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

input {
  background-color: var(--card);
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid var(--border);
  outline: none;

  &:focus-visible {
    border-color: var(--primary);
  }

  &:focus-visible,
  &:hover {
    background-color: var(--active);
  }

  &::placeholder {
    color: var(--border);
  }

  &[type="search"] {
    min-width: 360px;
    max-width: calc(min(100%, 720px));
    height: 36px;
    padding-left: 36px;
    padding-right: 16px;

    border-radius: var(--large);
    background-image: url("../assets/search.svg");
    background-repeat: no-repeat;
    background-position: 8px 50%;
    background-size: 24px;
    transition: 0.1s;

    &:focus-visible {
      background-position: 0px 18px;
      background-size: 1px;
      padding-left: 16px;
    }
  }

  &[type="text"],
  &[type="password"],
  &[type="email"] {
    min-width: 250px;
    height: 36px;
    padding-inline: 0.5rem;

    border-radius: var(--small);
  }

  &:user-invalid {
    box-shadow: 0 0 4px red;
    border-color: red;
  }

  &:user-valid {
    box-shadow: 0 0 4px green;
    border-color: green;
  }
}

*:has(> input[type="file"]) {
  position: relative;
  height: 150px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1;

  gap: 15px;
  border-radius: var(--small);
  text-align: center;
  border: 1px solid var(--border);

  span.icon {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
  }

  input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    cursor: pointer;
  }

  &:hover,
  &:focus-within {
    background-color: var(--active);
    border-color: var(--primary);
  }

  &:has(input:user-invalid) {
    border-color: red;
    box-shadow: 0 0 4px red;
  }

  &:has(input:valid) {
    border-color: green;
    box-shadow: 0 0 4px green;
  }
}

.table {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: auto;

  justify-content: space-between;

  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--standard);

  &::-webkit-scrollbar-track {
    margin: 5px 0;
    border-left: 1px solid var(--border);
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;

    thead {
      position: sticky;
      top: 0;
      background-color: var(--card);
      z-index: 999;
    }

    td,
    th {
      border-bottom: 1px solid var(--border);
      text-align: left;
    }
  }

  .pagination {
    position: sticky;
    bottom: 0;
    padding: 16px 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--card);

    div {
      display: flex;
      align-items: center;
      gap: 4px;

      a {
        width: 100px;
        display: flex;
        align-items: center;
        color: var(--text);
        cursor: pointer;
        outline: none;
        text-decoration: none;

        &.disabled {
          visibility: hidden;
        }

        span:not(.icon) {
          text-decoration: underline;
        }

        &:hover,
        &:focus-visible {
          font-weight: 700;
        }

        &:first-child {
          justify-content: flex-end;
          padding-right: 4px;
        }

        &:last-child {
          justify-content: flex-start;
          padding-left: 4px;
        }
      }
    }
  }
}

.icon {
  font-family: "Material Icons";
}

button {
  all: unset;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  span.icon {
    font-size: 1.25rem;
  }
}

button.text {
  border-radius: var(--large);

  &:hover,
  &:focus-visible {
    background-color: rgba(var(--hover), 0.08);
  }

  &.primary {
    color: var(--primary);
  }
}

button.outlined {
  border: 1px solid black;
  border-radius: var(--large);

  &:hover,
  &focus-visible {
    background-color: rgba(var(--hover), 0.08);
  }

  &.primary {
    color: var(--primary);
    border-color: var(--primary);
  }
}

button.filled {
  color: white;
  border-radius: var(--large);

  &:hover,
  &:focus-visible {
    box-shadow: 0 0 1px black;
  }

  &.primary {
    background-color: var(--primary);
  }
}

.chip {
  height: 32px;
  width: auto;
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;

  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--small);

  &:has(.avatar) {
    padding-left: 4px;
    border-radius: var(--large);
    gap: 4px;
  }
}

button.chip {
  cursor: pointer;

  &:hover {
    background-color: rgba(11, 87, 208, 0.08);
  }
}

.rating {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  div {
    width: 95%;
    height: 95%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    background-color: inherit;

    span {
      z-index: 2;
      font-size: 1.5rem;
      color: var(--primary);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      border-radius: inherit;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 2px;
      background-color: inherit;
      border-radius: inherit;
      z-index: 1;
    }
  }
}

.icon-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--card);
  color: var(--border);
  box-shadow: 0 0 1px var(--border);
  cursor: pointer;
  font-size: 1.5rem;

  &.active {
    background-color: var(--primary);
    color: var(--text-contrast);
  }

  &:hover {
    box-shadow: 0 0 4px var(--border);
  }
}

a.icon-button {
  text-decoration: none;
}

.avatar {
  height: 24px;
  width: 24px;
  background: url("../assets/account.svg") no-repeat center;
}

.tag {
  padding: 0.25rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    font-weight: 700;
  }
}

.transcript-entry {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 2rem 1fr;
  gap: 0 1rem;

  .avatar {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0.5rem;
  }

  header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    gap: 1.25rem;

    span:first-child {
      font-weight: 700;
      position: relative;
    }

    span:last-child {
      font-size: 0.75rem;
    }

    span.agent::after {
      content: "•";
      color: var(--accent);
      position: absolute;
      top: -8px;
      right: -8px;
    }
  }

  p {
    grid-column: 2;
    grid-row: 2;
    padding: 0.25rem;
    margin: 0;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: rgba(var(--hover), 0.08);
    }

    &.conformity:has(.icon) {
      border-left: 1px solid var(--accent);

      .icon {
        cursor: default;
        color: var(--accent);
        position: absolute;
        top: calc(50% - 0.65rem);
        left: -1.5rem;
      }
    }
  }
}

.highlighted-entry p {
  background-color: rgba(var(--hover), 0.08);

  &:hover {
    background-color: rgba(var(--hover), 0.12);
  }
}

.pulsing-entry {
  animation: pulseAnim 1s ease-out;
}

@keyframes pulseAnim {
  0% {
    box-shadow: 0 0 0 var(--secondary);
  }
  50% {
    box-shadow: 0 0 8px var(--secondary);
  }
  100% {
    box-shadow: 0 0 0 var(--secondary);
  }
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;

  svg:has(circle) {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;

    circle {
      fill: none;
      stroke: var(--primary);
      stroke-width: 2;
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      animation: dash4 1.5s ease-in-out infinite;
    }
  }

  p {
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

dl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: inherit;

  & > .dots {
    background-color: inherit;

    &::after {
      float: left;
      width: 0;
      white-space: nowrap;
      content: ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . ";
    }
  }

  dt {
    font-weight: 700;
    padding-right: 0.33em;
    display: inline;
    background-color: inherit;
  }

  dd {
    margin-inline-start: 0;
    float: right;
    padding-inline: 0.5rem;
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    background-color: inherit;
  }
}

details {
  padding-block: 1rem;

  summary {
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  summary::after {
    content: " ▼";
    font-size: 0.75rem;
    margin-block: auto;
  }

  &[open] {
    summary::after {
      content: " ▲";
    }
  }
}

audio {
  width: 100%;

  &::-webkit-media-controls-enclosure {
    background-color: transparent;
  }
}

dialog[open] {
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--card);
  border: none;
  border-radius: var(--large);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  & > h1 {
    color: var(--primary);
    font-size: 1.75rem;
  }

  & > *:nth-child(2) {
    padding: 2rem 4rem 1rem 4rem;
    width: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;

    &:has(input[required]) > span::after {
      content: "*";
      color: red;
    }
  }

  div:has(> .helper-text) {
    display: flex;
    flex-direction: column;
  }

  .helper-text {
    font-size: 0.65rem;
    color: darkgrey;
    padding: 2px 4px;
  }

  & > div:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

/* Layout styles */

body {
  height: 100vh;
  margin: 0 3rem;
}

body > header {
  width: calc(100% - 4rem);
  height: 6rem;
  margin: 0;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--text);

  #site-logo {
    display: flex;

    text-decoration: none;
    text-transform: uppercase;
    color: var(--text);

    img {
      height: 3rem;
    }

    h1 {
      margin: 0;
      margin-inline: 1rem;

      font-weight: 400;
    }
  }

  a:focus-visible {
    outline: none;
  }

  nav {
    height: 100%;
    margin-inline-start: 3rem;

    display: flex;
    justify-content: start;
    gap: 1rem;

    a {
      width: 150px;
      padding: 0.5rem 1rem;

      display: flex;
      justify-content: center;
      align-items: center;

      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: var(--text);
    }

    a.active {
      color: var(--primary);
      font-weight: 700;
      border-bottom: 1px solid var(--primary);
    }

    a:hover {
      color: var(--text);
      font-weight: 700;
      border-bottom: 1px solid var(--text);
    }

    a:focus-visible {
      background-color: rgba(11, 87, 208, 0.05);
    }
  }

  #toolbar {
    display: flex;
    gap: 1rem;
  }
}

body > main#recordings {
  margin: 2rem 3rem;
  height: calc(100% - 10rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  #recordings-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type="search"] {
      max-width: 30%;
    }

    #table-toolbar {
      display: flex;
      gap: 1rem;
      margin-inline: 2rem;
    }
  }

  #recordings-table {
    flex-grow: 1;

    th,
    td {
      padding: 1.5rem;
    }

    th:first-child,
    td:first-child,
    th:last-child,
    td:last-child {
      width: 400px;
      overflow-x: hidden;
      white-space: nowrap;
    }

    td {
      a {
        width: 100%;
        display: flow;
        color: var(--text);
        outline: none;

        span.icon {
          display: none;
          font-size: 0.75rem;
        }

        &:hover,
        &:focus-visible {
          font-weight: 700;

          span.icon {
            display: inline-block;
          }
        }
      }
    }
  }
}

body > main#recording {
  height: calc(100% - 8rem);
  margin: 2rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    flex-direction: row;
    height: 2rem;

    nav {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      a {
        height: fit-content;
        text-decoration: none;
        color: var(--text);

        span.icon {
          font-size: 1.5rem;
        }
      }
    }
  }

  article {
    height: calc(100% - 8rem);
    margin-block: 1rem;
    display: grid;
    grid-template-columns: 40px 1.25fr 1fr;
    gap: 2rem;

    nav {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 1rem;
      padding-top: 6rem;
      grid-column: 1;
    }

    section {
      overflow-y: auto;
      scroll-behavior: smooth;
      height: 100%;
      padding-inline: 2rem;
      display: flex;
      flex-direction: column;
      gap: 30px;
      grid-column: 2;
    }

    details {
      padding-inline: 1.5rem;
      background-color: var(--card);
      box-shadow: 0 0 1px var(--border);
      border-radius: var(--standard);

      summary span {
        display: flex;
        gap: 1.5rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        gap: 0.25rem 1rem;

        li {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    aside {
      min-height: 0;
      grid-column: 3;
    }

    aside.details {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & > div {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: var(--card);
        box-shadow: 0 0 1px var(--border);
        border-radius: var(--large);
        padding-top: 2rem;
        padding-inline: 3rem;
        overflow: hidden;

        h3 {
          margin: 0;
          text-align: start;
          color: var(--primary);
        }

        p {
          text-align: justify;
          overflow-y: auto;
          padding-right: 0.5rem;
        }
      }
    }

    aside.ner {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      overflow-y: auto;
      padding-right: 0.5rem;

      span.circle {
        height: 16px;
        width: 16px;
        border: 1px solid var(--border);
        border-radius: 50%;
      }
    }

    aside.conformity {
      display: grid;
      grid-template-rows: 1fr 2fr;

      & > div:first-child {
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .rating {
          height: 128px;
          width: 128px;

          span {
            font-size: 3rem;
          }
        }

        h5 {
          margin: 1rem;
          color: var(--primary);
        }
      }

      & > div:last-child {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        overflow-y: auto;
        padding-right: 0.5rem;

        div {
          padding: 1rem 1.5rem;
          background-color: var(--card);
          box-shadow: 0 0 1px var(--border);
          border-radius: var(--standard);
          font-weight: 700;
          display: flex;
          gap: 1.5rem;

          &[onclick] {
            cursor: pointer;

            &:hover span:last-child {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  footer {
    display: flex;
    height: 4rem;
  }
}

body > dialog#upload form {
  width: 600px;

  & > *:nth-child(4) {
    margin: 2rem auto 0 auto;
  }
}
