@font-face {
  font-family: "Inter";
  src: url("../assets/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Material Icons";
  src: url("../assets/MaterialSymbolsOutlined.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --text: #04080d;
  --text-contrast: #ffffff;
  --background: #e7ecf1;
  --primary: #022759;
  --secondary: #d2e6ff;
  --accent: #ff5c82;
  --border: #c0c0c0;
  --card: #f2f2f6;
  --active: #ebebf4;
  --success: #127d12;
  --error: #de0000;
  --hover: 2, 39, 89;

  /* Border-radius */
  --small: 8px;
  --standard: 16px;
  --large: 24px;

  /* Shadows */
  --shadow: 0 0 4px var(--border);
  --card-shadow: 0 0 1px var(--border);
  --highlight-shadow: 0 0 16px var(--accent);

  /* NER colors */
  --ner-persName: #b4ffd2;
  --ner-placeName: #fff2a9;
  --ner-orgName: #cca9ff;
  --ner-date: #a9fffd;
  --ner-time: #a9e2ff;
}

/* Global styles */

body {
  font-family: "Inter";
  font-weight: 400;
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 700;
}

html {
  font-size: 100%; /* 16px */
}

h1 {
  font-size: 2.489rem; /* 39.84px */
}

h2 {
  font-size: 2.074rem; /* 33.12px */
}

h3 {
  font-size: 1.728rem; /* 27.68px */
}

h4 {
  font-size: 1.44rem; /* 23.04px */
}

h5 {
  font-size: 1.2rem; /* 19.2px */
}

small {
  font-size: 0.833rem; /* 13.28px */
}

/* Component styles */

* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--border);
    border-radius: var(--large);
    background-clip: content-box;
    border: 3px solid transparent;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

input {
  background-color: var(--card);
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid var(--border);
  outline: none;

  &:focus-visible {
    border-color: var(--primary);
  }

  &:focus-visible,
  &:hover {
    background-color: var(--active);
  }

  &::placeholder {
    color: var(--border);
  }

  &[type="search"] {
    min-width: 360px;
    height: 36px;
    padding-left: 36px;
    padding-right: 16px;

    border-radius: var(--large);
    background-image: url("../assets/search.svg");
    background-repeat: no-repeat;
    background-position: 8px 50%;
    background-size: 24px;
    transition: 0.1s;

    &:focus-visible {
      background-position: 0px 18px;
      background-size: 1px;
      padding-left: 16px;
    }
  }

  &[type="text"],
  &[type="password"],
  &[type="email"] {
    min-width: 250px;
    height: 36px;
    padding-inline: 0.5rem;

    border-radius: var(--small);
  }

  &:user-invalid,
  &:has(> input[type="file"]:user-invalid) {
    box-shadow: 0 0 4px var(--error);
    border-color: var(--error);
  }

  &:user-valid,
  &:has(> input[type="file"]:valid) {
    box-shadow: 0 0 4px var(--success);
    border-color: var(--success);
  }

  &[type="checkbox"],
  &[type="radio"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

*:has(> input[type="file"]) {
  position: relative;
  height: 150px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1;

  gap: 15px;
  border-radius: var(--small);
  text-align: center;
  border: 1px solid var(--border);

  span.icon {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
  }

  input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    cursor: pointer;
  }

  &:hover,
  &:focus-within {
    background-color: var(--active);
    border-color: var(--primary);
  }

  &:has(input:user-invalid) {
    box-shadow: 0 0 4px var(--error);
    border-color: var(--error);
  }

  &:has(input:valid) {
    box-shadow: 0 0 4px var(--success);
    border-color: var(--success);
  }
}

.table {
  overflow-x: auto;
  overflow-y: auto;
  flex-grow: 1;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--standard);

  &::-webkit-scrollbar-track {
    margin: 5px;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 100%;
    min-height: 100%;

    thead {
      position: sticky;
      top: 0;
      background-color: var(--card);
      z-index: 999;
    }

    td,
    th {
      padding: 1.5rem;
      border-bottom: 1px solid var(--border);
      text-align: left;
      overflow-x: hidden;
      white-space: nowrap;

      &:has(a) {
        min-width: 400px;
      }

      &:has(a:not(:only-of-type)) a {
        padding-inline: 0.25rem;
      }
    }

    tfoot {
      position: sticky;
      bottom: 0;
      padding: 1rem 0;
      z-index: 999;
      background-color: var(--card);

      td {
        border: none;
      }

      td > div {
        width: calc(50% - 2rem);
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;

        &:first-child {
          justify-content: end;
        }

        &:last-child {
          justify-content: start;
        }

        a {
          padding-inline: 0 !important;
          width: 100px;

          &:first-child {
            text-align: end;
            padding-right: 4px;
          }

          &:last-child {
            text-align: start;
            padding-left: 4px;
          }
        }
      }
    }
  }
}

.icon {
  font-family: "Material Icons";

  &.success {
    color: var(--success);
  }

  &.error {
    color: var(--error);
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text);

  &:focus-visible {
    outline: none;
  }
}

a.nav-link {
  width: 150px;
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  text-align: center;

  &.active {
    color: var(--primary);
    font-weight: 700;
    border-bottom: 1px solid var(--primary);
  }

  &:hover {
    color: var(--text);
    font-weight: 700;
    border-bottom: 1px solid var(--text);
  }

  &:focus-visible {
    background-color: rgba(var(--hover), 0.08);
  }
}

a.text {
  &.disabled {
    visibility: hidden;
  }

  span.icon {
    font-size: 0.75rem;
  }

  &:hover,
  &:focus-visible {
    font-weight: 700;
    text-decoration: underline;

    span.icon {
      display: inline-block;
    }
  }
}

a.icon {
  height: fit-content;
  font-size: 2rem;

  &:hover,
  &:focus-visible {
    text-shadow: var(--shadow);
  }
}

button {
  all: unset;
  height: 40px;
  padding: 0 1.5rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &:has(span.icon, svg) {
    gap: 0.5rem;
    padding: 0 1.5rem 0 1rem;
  }

  span.icon {
    font-size: 1.25rem;
  }
}

button.text {
  border-radius: var(--large);
  position: relative;
  transition: background-color 0.3s ease;

  &::after {
    content: "";
    height: 100%;
    width: 0;
    margin: auto;
    position: absolute;
    inset: 0;
    border-radius: var(--large);
    transition: width 0.2s ease;
    background-color: rgba(var(--hover), 0.08);
  }

  &:hover,
  &:focus-visible {
    background-color: rgba(var(--hover), 0.08);
  }

  &:active::after {
    width: 100%;
  }

  &.primary {
    color: var(--primary);
  }
}

button.outlined {
  height: 38px;
  border: 1px solid black;
  border-radius: var(--large);

  &:hover,
  &:focus-visible {
    background-color: rgba(var(--hover), 0.08);
  }

  &.primary {
    color: var(--primary);
    border-color: var(--primary);
  }
}

button.icon {
  height: 40px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  transition: box-shadow 0.2s ease;

  &:hover,
  &:focus-visible {
    text-shadow: var(--shadow);
  }

  &:active {
    text-shadow: none;
  }
}

button.filled {
  color: var(--text-contrast);
  border-radius: var(--large);

  &:hover,
  &:focus-visible {
    box-shadow: var(--shadow);
  }

  &:active {
    box-shadow: none;
  }

  &.primary {
    background-color: var(--primary);
  }
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

.chip {
  height: 32px;
  width: auto;
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;

  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--small);

  &:has(.avatar) {
    padding-left: 4px;
    border-radius: var(--large);
    gap: 4px;
  }
}

button.chip {
  cursor: pointer;

  &:hover {
    background-color: rgba(var(--hover), 0.08);
  }
}

.rating {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  div {
    width: 95%;
    height: 95%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    background-color: inherit;

    span {
      z-index: 2;
      font-size: 1.5rem;
      color: var(--primary);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      border-radius: inherit;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 2px;
      background-color: inherit;
      border-radius: inherit;
      z-index: 1;
    }
  }

  &.large {
    height: 128px;
    width: 128px;
    span {
      font-size: 3rem;
    }
  }
}

.avatar {
  height: 24px;
  width: 24px;
  background: url("../assets/account.svg") no-repeat center;
}

.circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.transcript {
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.transcript-entry {
  display: flex;
  flex-direction: column;

  &.client {
    align-items: flex-start;

    p {
      background-color: var(--secondary);
      color: var(--text);
    }
  }

  &.agent {
    align-items: flex-end;

    p {
      background-color: var(--primary);
      color: var(--text-contrast);
    }

    & > span {
      flex-direction: row-reverse;
    }
  }

  & > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.75rem;
    margin: 0.5rem;

    span:first-child {
      font-weight: 700;
    }
  }

  p {
    width: 60%;
    padding: 0.5rem 1rem;
    margin: 0;
    position: relative;
    cursor: pointer;
    border-radius: var(--standard);

    mark {
      color: var(--text);
      padding: 0 0.1rem;
    }

    &:hover {
      box-shadow: var(--shadow);
    }

    &.conformity:has(.icon) {
      border-left: 1px solid var(--accent);

      .icon {
        font-size: 2rem;
        cursor: default;
        color: var(--accent);
        position: absolute;
        top: 50%;
        left: -3rem;
        transform: translateY(-50%);
      }
    }
  }

  &.highlighted p {
    box-shadow: var(--highlight-shadow);
  }

  &.pulse p {
    animation: pulseAnim 1s ease-out;
  }
}

@keyframes pulseAnim {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: var(--highlight-shadow);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;

  svg.rotate {
    width: 3.25em;

    circle {
      stroke: var(--primary);
    }
  }

  p {
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

svg.rotate {
  width: 1rem;
  transform-origin: center;
  animation: rotate4 2s linear infinite;

  circle {
    fill: none;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

*:has(> .card) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;

  background-color: var(--card);
  border-radius: var(--standard);
  box-shadow: var(--card-shadow);

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 1rem 0;
    text-align: start;
    color: var(--primary);
  }

  p {
    text-align: justify;
    overflow-y: auto;
    line-height: 1.5rem;
  }

  &.transparent {
    background-color: transparent;
    box-shadow: none;
  }

  &.grow {
    flex: 1 1 0;
  }

  &.dimmed {
    background-color: rgba(var(--hover), 0.04);
  }

  &.secondary {
    background-color: var(--secondary);
  }

  &.centered {
    align-items: center;
    justify-content: center;
  }

  &.description {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

    .icon {
      font-size: 1.25rem;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      span {
        font-weight: 700;
      }

      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }

    &[onclick] {
      cursor: pointer;

      &:hover div span {
        text-decoration: underline;
      }
    }
  }
}

dl {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 0;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  dt {
    font-weight: 700;
    display: inline;
    background-color: inherit;
  }

  dd {
    margin-inline-start: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;

    background-color: inherit;
  }
}

details {
  padding: 1rem 1.5rem !important;

  summary {
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
  }

  summary span {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
  }

  summary::after {
    content: " ▼";
    font-size: 0.75rem;
    margin-block: auto;
  }

  &[open] {
    summary::after {
      content: " ▲";
    }
  }

  & > *:last-child {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 0.25rem 1rem;
  }
}

audio {
  width: 100%;

  &::-webkit-media-controls-enclosure {
    background-color: transparent;
  }
}

dialog[open] {
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--card);
  border: none;
  border-radius: var(--large);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  & > h1 {
    color: var(--primary);
    font-size: 1.75rem;
  }

  & > *:nth-child(2) {
    padding: 2rem 4rem 1rem 4rem;
    width: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;

    &:has(input[required]) > span::after {
      content: "*";
      color: red;
    }

    &:has(input[type="checkbox"]),
    &:has(input[type="radio"]) {
      justify-content: start;
    }
  }

  div:has(> .helper-text) {
    display: flex;
    flex-direction: column;
  }

  .helper-text {
    font-size: 0.65rem;
    color: darkgrey;
    padding: 2px 4px;
  }

  & > div:last-child {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.site-logo {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text);
  padding-inline: 2rem;

  img {
    height: 3rem;
  }

  h1 {
    margin: 0;
    margin-inline: 1rem;
    font-weight: 400;
  }
}

.toolbar {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
}

header {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 100%;

  display: flex;
  justify-content: start;
  gap: 1rem;
}

.tabs {
  display: grid;
  grid-template-columns: 40px 1.25fr 1fr;
  gap: 2rem;
  min-height: 0;
  flex-grow: 1;

  nav {
    flex-direction: column;
    padding-top: 6rem;
    grid-column: 1;

    button {
      color: var(--border);
      background-color: var(--card);

      &.active {
        background-color: var(--primary);
        color: var(--text-contrast);
        box-shadow: none;
      }

      &:hover,
      &:focus-visible {
        text-shadow: none;
        box-shadow: var(--shadow);
      }
    }
  }

  section {
    grid-column: 2;
  }

  aside {
    padding: 0.5rem 1rem;
    min-height: 0;
    grid-column: 3;
  }
}

/* Layout styles */

body {
  height: 100vh;
  margin: 0 3rem;

  & > header {
    height: 6rem;
    border-bottom: 1px solid var(--text);
  }

  & > main {
    height: calc(100% - 6rem);
    margin: 0;
    padding: 2rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

body > main#recording {
  header {
    #recording-toolbar {
      div.analyze-row {
        /* Container styling for better layout */
        display: flex;
        align-items: center;
        gap: 1rem; /* Spacing between items */
        background-color: var(
          --card
        ); /* Light background color for subtle emphasis */
        padding: 0.5rem 1rem;
        box-shadow: 0 0 1px var(--border);
        border-radius: var(--small-border-radius); /* Smooth edges */

        button {
          background-color: var(--primary); /* Brand primary blue */
          color: var(--text-contrast);
          border: none;
          padding: 0.5rem 1rem;
          border-radius: var(--small-border-radius);
          cursor: pointer;
          font-size: 100%;
          font-weight: bold;
          transition: background-color 0.3s ease;
        }

        button:hover {
          background-color: var(
            --secondary
          ); /* Slightly darker blue for hover effect */
        }

        /* Checkbox label styling */
        label {
          display: flex;
          align-items: center;
          font-weight: bold;
          color: var(--text); /* Dark text for contrast */
        }

        label:has(#force_rerun) {
          gap: 0.3rem;
          color: var(--primary);
          font-style: italic;
        }

        input[type="checkbox"] {
          margin-right: 5px; /* Space between checkbox and text */
          accent-color: var(--primary); /* Match checkbox color with button */
        }
      }

      #analysis-indicator {
        height: 100%;
        width: auto;

        img {
          object-fit: contain;
          height: 100%;
        }

        svg:has(circle) {
          width: 3.25em;
          transform-origin: center;
          animation: rotate4 2s linear infinite;

          circle {
            fill: none;
            stroke: var(--primary);
            stroke-width: 2;
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            animation: dash4 1.5s ease-in-out infinite;
          }
        }
      }
    }
  }
}

dialog#upload form {
  width: 600px;

  & > *:nth-child(4) {
    margin: 2rem auto 0 auto;
  }
}

dialog#analyze form {
  width: 375px;

  label {
    align-items: center;
  }
}
