{% macro analysis_indicator(recording_id, status = "") %}
    <div id="analysis-indicator"
         hx-get="/recordings/{{ recording_id }}/analyze_status/"
         hx-trigger="{% if status == 'in_progress' %}every 3s{% else %}click from:#analyze-button{% endif %}"
         hx-swap="outerHTML">
        {% if status == "in_progress" %}
            <svg viewBox="25 25 50 50">
                <circle r="20" cy="50" cx="50"></circle>
            </svg>
        {% elif status == "finished" %}
            <img src="/public/assets/checkmark.svg" />
        {% elif status == "failed" %}
            <img src="/public/assets/red_x.svg" />
        {% else %}
            <div class="empty"></div>
        {% endif %}
    </div>
{% endmacro %}
{% macro button(recording_id, status = "") %}
    <button id="analyze-button"
            class="filled primary"
            hx-get="/recordings/{{ recording_id }}/status"
            hx-swap="outerHTML"
            {% if status != "" %}hx-trigger="load delay: 3s" disabled{% endif %}>
        {%- if status == 'in_progress' -%}
            <svg viewBox="25 25 50 50">
                <circle r="20" cy="50" cx="50"></circle>
            </svg>
            Analyzing...
        {%- elif status == 'finished' -%}
            <span class="icon">check_circle</span>
            Analyzed
        {%- elif status == 'failed' -%}
            <span class="icon">cancel</span>
            Failed
        {%- else -%}
            Analyze
        {%- endif -%}
    </button>
{% endmacro %}
{{ analysis_indicator(recording_id, status) }}
