{%- macro upload_dialog() -%}
    <dialog id="upload">
        <h1>Upload a new recording</h1>
        <form action="recordings/upload"
              enctype="multipart/form-data"
              method="post">
            <label>
                <span>Agent name</span>
                <div>
                    <input type="text" name="agent_name" required>
                    <span class="helper-text">Name of the agent in this recording</span>
                </div>
            </label>
            <label>
                <span>Agent email</span>
                <div>
                    <input type="email" name="agent_email" required>
                    <span class="helper-text">Email of the agent in this recording</span>
                </div>
            </label>
            <label>
                <span>Tags</span>
                <div>
                    <input type="text" name="tags">
                    <span class="helper-text">List of related tags, separated by commas</span>
                </div>
            </label>
            <div>
                <div>
                    <input type="file" name="file" required accept="audio/*">
                    <span class="icon">upload</span>
                    <p>Select or drag and drop to upload your file</p>
                </div>
                <span class="helper-text">Accepts audio files (wav, mp3, ogg, etc.)</span>
            </div>
            <div>
                <button class="text primary" type="reset" onclick="closeDialog('upload')">Cancel</button>
                <button class="filled primary" type="submit">Upload</button>
            </div>
        </form>
    </dialog>
{%- endmacro -%}
{%- macro analyze_dialog() -%}
    <dialog id="analyze">
        <h1>Advanced analysis</h1>
        <form action="recordings/{{ recording.id }}/analyze"
              enctype="multipart/form-data"
              method="post">
            <div>
                <label>
                    <input type="checkbox" name="transcript" checked disabled>
                    <span>Transcript</span>
                </label>
                <span class="helper-text">Transcribe the recording. Always required.</span>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="ner" name="analysis">
                    <span>Named Entity Recognition</span>
                </label>
                <span class="helper-text">Extract entities from the transcript.</span>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="summary" name="analysis">
                    <span>Summary</span>
                </label>
                <span class="helper-text">Generate a summary of the conversation.</span>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="conformity" name="analysis">
                    <span>Conformity check</span>
                </label>
                <span class="helper-text">Check if the conversation follows the script.</span>
            </div>
            <div>
                <button class="text primary" type="reset" onclick="closeDialog('analyze')">Cancel</button>
                <button class="filled primary" type="submit">Analyze</button>
            </div>
        </form>
    </dialog>
{%- endmacro -%}
