{% import "components.html.jinja2" as components %}
{% import "recording_content.html.jinja2" as content with context %}
{%- macro component() %}
    <nav class="tabs-control">
        {{ components.tab_button(0, tab, true, "description", "Summary") }}
        {{ components.tab_button(1, tab, true, "fingerprint", "NER") }}
        {{ components.tab_button(2, tab, true, "check_circle", "Conformity Check") }}
    </nav>
    <section>
        {% if tab == 0 %}
            {{ content.transcript() }}
        {% elif tab == 1 %}
            {{ content.ner() }}
        {% elif tab == 2 %}
            {{ content.conformity() }}
        {% endif %}
    </section>
    {% if tab == 0 %}
        <aside class="details">
            <div>
                <h3>Details</h3>
                <dl>
                    <div>
                        <dt>Title</dt>
                        <dd>
                            {{ components.recording_url(recording.recording_url) }}
                        </dd>
                    </div>
                    <div>
                        <dt>Agent</dt>
                        <dd>
                            <object class="avatar"></object>
                            Unknown
                        </dd>
                    </div>
                    <div>
                        <dt>Duration</dt>
                        <dd>
                            ??? min
                        </dd>
                    </div>
                    <div>
                        <dt>Created At</dt>
                        <dd>
                            ???
                        </dd>
                    </div>
                    <div>
                        <dt>Tags</dt>
                        <dd>
                            <a>#???</a> <a>#???</a>
                        </dd>
                    </div>
                </dl>
            </div>
            <div>
                <h3>Summary</h3>
                {{ content.summary() }}
            </div>
        </aside>
    {% elif tab == 1 %}
        <aside class="ner">
            {{ content.ner_details() }}
        </aside>
    {% elif tab == 2 %}
        <aside class="conformity">
            {{ content.conformity_details() }}
        </aside>
    {% endif %}
{%- endmacro %}
{% if not partial %}
    {% extends "layout.html.jinja2" %}
    {% block content %}
        <main id="recording">
            <header>
                <nav>
                    <a href="/recordings"><span class="icon">arrow_back</span></a>
                </nav>
                <div></div>
            </header>
            <article id="recording-details" class="tabs">{{ component() }}</article>
            <footer>
                <audio controls id="recording-audio">
                    <source src="{{ recording.id ~ "/audio" }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </footer>
        </main>
    {% endblock %}
{% else %}
    {{ component() }}
{% endif %}
