{% import "components.html.jinja2" as components %}
{%- macro transcript() -%}
    {%- call components.progress_circle(link=recording.id ~ "/transcript?delay=" ~ delay, delay=delay, load=(not recording.transcript or not recording.speaker_mapping)) -%}
        {%- call(i) components.transcript(recording) -%}
            {{ recording.transcript.entries[i].text }}
        {%- endcall -%}
    {%- endcall -%}
{%- endmacro -%}
{%- macro summary() -%}
    {%- call components.progress_circle(link=recording.id ~ "/summary?delay=" ~ delay, delay=delay, load=(not recording.summary)) -%}
        <p>{{ recording.summary }}</p>
    {%- endcall -%}
{%- endmacro -%}
{%- macro ner() -%}
    {%- call components.progress_circle(link=recording.id ~ "/ner?delay=" ~ delay, delay=delay, load=(not recording.ner)) -%}
        {%- call(i) components.transcript(recording) -%}
            {{ components.ner(recording.transcript.entries[i].text, recording.ner.entries[i]) }}
        {%- endcall -%}
    {%- endcall -%}
{%- endmacro -%}
{%- macro ner_details() -%}
    {%- call components.progress_circle(link=recording.id ~ "/ner-details?delay=" ~ delay, delay=delay, load=(not recording.ner)) -%}
        {%- for entity in [("People", "persName"), ("Places", "placeName"), ("Organizations", "orgName"), ("Dates", "date"), ("Time", "time")] -%}
            {{ components.ner_details(entity, recording.transcript.entries, recording.ner.entries) }}
        {%- endfor -%}
    {%- endcall -%}
{%- endmacro -%}
{% if content == "transcript" %}
    {{ transcript() }}
{% elif content == "summary" %}
    {{ summary() }}
{% elif content == "ner" %}
    {{ ner() }}
{% endif %}
