{% import "components.html.jinja2" as components %}
{% import "dialogs.html.jinja2" as dialogs %}
{%- macro component() -%}
    <div id="recordings-controls">
        <input name="search"
               type="search"
               placeholder="Search..."
               value="{{ search }}"
               hx-get=" {{ components.link(take=take) }} "
               hx-target="#recordings"
               hx-trigger="search">
        <div id="table-toolbar">
            <button class="filled primary" onclick="openDialog('upload')">
                <span class="icon">add</span>
                <span>New recording</span>
            </button>
        </div>
    </div>
    <div id="recordings-table" class="table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Agent</th>
                    <th>Score</th>
                    <th>Created On</th>
                    <th>Duration</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                {% for recording in recordings %}
                    <tr>
                        <td>
                            <a href="{{ '/recordings/' ~ recording.id }}" title="Go to Details">
                                {{ recording.blob_name }}<span class="icon">north_east</span>
                            </a>
                        </td>
                        <td>{{ components.agent(recording.agent) }}</td>
                        <td>
                            {%- set conformity_results = recording.conformity.results -%}
                            {%- if conformity_results|count > 0 -%}
                                {%- set score = (100 * conformity_results|selectattr("passed", "true")|list|count / conformity_results|count)|int -%}
                                {{ components.rating(score, "card") }}
                            {%- endif -%}
                        </td>
                        <td>{{ recording.created.strftime("%a, %d %b %Y") }}</td>
                        <td>{{ components.format_duration(recording.duration) }}</td>
                        <td>
                            {% for tag in recording.tags %}<span class="tag">#{{ tag }}</span>{% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <div>
                <span>Show</span>
                <select name="take"
                        hx-get="{{ components.link(search=search) }}"
                        hx-target="#recordings">
                    {% for t in [5, 10, 20, 50] %}
                        <option value="{{ t }}" {% if t==take %}selected{% endif %}>{{ t }}</option>
                    {% endfor %}
                </select>
                <span>results</span>
            </div>
            <div>
                <a href=""
                   hx-get="{{ components.link(search, take, (skip-take, 0) | max) }}"
                   hx-target="#recordings"
                   class="{% if skip <= 0 %}disabled{% endif %}">
                    <span class="icon">chevron_left</span><span>Previous</span>
                </a>
                <select name="skip"
                        hx-get="{{ components.link(search, take) }}"
                        hx-target="#recordings">
                    {% for s in range(0, (total, 1)|max, take) %}
                        <option value="{{ s }}" {% if s==skip %}selected{% endif %}>{{ s // take + 1 }}</option>
                    {% endfor %}
                </select>
                <span>of {{ ((total, 1)|max / take)|round(method="ceil") |int }}</span>
                <a href=""
                   hx-get="{{ components.link(search, take, (skip + take, total) | min) }}"
                   hx-target="#recordings"
                   class="{% if skip + take + 1 > total %}disabled{% endif %}">
                    <span>Next</span><span class="icon">chevron_right</span>
                </a>
            </div>
        </div>
    </div>
{%- endmacro -%}
{%- if not partial -%}
    {% extends "layout.html.jinja2" %}
    {% block content %}
        <main id="recordings">
            {{ component() }}
        </main>
    {% endblock %}
    {% block dialogs %}{{ dialogs.upload_dialog() }}{% endblock %}
{%- else -%}
    {{ component() }}
{%- endif -%}
