package views

const (
	defaultTitle = "CallMiner"
)

type NavLink struct {
	URL         string
	Title       string
	Description string
}

templ Page(child templ.Component, navLinks []NavLink, current int) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ getTitle(navLinks[current].Title) }</title>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			@getDescription(navLinks[current].Description)
			<link rel="stylesheet" href="/public/css/styles.css"/>
		</head>
		<body>
			<header>
				<a href="/" title="Go to Dashboard" id="site-logo">
					<img src="/public/assets/logo.svg" alt="CallMiner"/>
					<h3>CallMiner</h3>
				</a>
				@navigation(navLinks, current)
				<div id="toolbar"></div>
			</header>
			<main>
				if child != nil {
					@child
				}
			</main>
		</body>
	</html>
}

func getTitle(title string) string {
	if title == "" {
		return defaultTitle
	}
	return defaultTitle + " | " + title
}

templ getDescription(description string) {
	if description != "" {
		<meta name="description" content={ description }/>
	}
}

templ navigation(navLinks []NavLink, current int) {
	<nav>
		for i, link := range navLinks {
			<a href={ templ.URL(link.URL) } class={ templ.KV("active", i == current) }>{ link.Title }</a>
		}
	</nav>
}
